$primary-color: #4597f8;
$primary-light-color: #bddbff;
$text-color: #000000;
$error-color: #ff0000;
$background-color: #ffffff;

$bar-background-color: #eeeeee;
$shadow-color: #333333;

$button-border-color: #d9d9d9;
$button-hover-background-color: #f9f9f9;

$on-primary-color: #ffffff;
$on-primary-light-color: #000000;
$on-text-color: #ffffff;
$on-error-color: #ffffff;
$on-background-color: #000000;
