.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.rhythmBarContainer {
  width: 70%;
  position: relative;
}

.text {
  position: absolute;
  bottom: 15%;
}
