.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.rhythmBarContainer {
  width: 70%;
  position: relative;
}

.text {
  justify-content: center;
  align-items: center;
  margin-top: $xl;
  margin-bottom: $xl;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $xl;
}
